@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
    font-size: 62.5%
}

body {
    background: url(../images/bg-desktop.svg) center center no-repeat var(--primary-color-violet);
    background-size: cover;
    font-family: 'Poppins', 'Open Sans', sans-serif;
    padding: 60px 5.6%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    align-self: start;
    margin-bottom: 80px;
    min-height: 75px;
    height: auto;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 60vh;
    gap: 60px;
}

.main-container .about-container {
    max-width: 522px;
    margin-bottom: 150px;
}

.main-container .about-container .about-title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 600;
}

.main-container .about-container .about-description {
    font-size: 1.8rem;
    margin: 25px 0;
    color: #fff;
}


.main-container .about-container .bnt-button {
    margin-top: 25px;
}

.main-container .about-container .bnt-button a {
    justify-content: center;
    padding: 15px 70px;
    font-size: 1.6rem;
    color: var(--primary-color-violet);
    background-color: #fff;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.main-container .about-container .bnt-button a:hover {
    color: #fff;
    background-color: var(--primary-color-magenta);
}

.footer{
    grid-area: footer;
    
}

.footer {
    display: flex;
    justify-content: flex-end;
}


.footer li {
    display: inline-block; 
    margin-bottom: 60px;
    max-width: 96%;  
}

.footer li a{
    font-size: 1rem;
    padding: 10px;
    color: #fff;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
    
}


.footer a:hover {
    background-color: var(--primary-color-magenta);
    border: 1px solid var(--primary-color-magenta);
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}